<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <responsive-child>
      <main class="interactive">
        <h1>Where did foreclosures hit hardest?</h1>
        <p class="chatter">
          The mortgage crisis that lasted from 2008 to about 2014 caused a spike in foreclosure filings at homes throughout King, Snohomish and Pierce counties. This map shows foreclosure rates by zip code for 2014, as well as the total filings for each of the previous six years. The 2014 rates might appear small, but in a normal year, rates are far less, a fraction of a percent. Some homes faced multiple foreclosure threats during the crisis. 

        <div class="map-container">
          <leaflet-map>
            <map-options>{ "scrollWheelZoom": false }</map-options>
            <tile-layer layer="cartoPositron"></tile-layer>
          </leaflet-map>
        </div>
        <div class="source">
          Source: ATTOM Data Solutions
        </div>
        <div class="credit">
          Thomas Wilburn / The Seattle Times
        </div>
      </main>
    </responsive-child>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
